<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"
        ><img
          src="../../assets/pictures/Logo.png"
          class="logo"
          alt="Logo de la plateforme Trouve ton artisan représentant un artisan tenant une pancarte"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Barre de recherche -->
        <form class="d-flex" role="search" (submit)="searchArtisan()">
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
            <input
              id="search-input"
              class="form-control me-2"
              type="text"
              aria-label="Search"
              [(ngModel)]="searchText"
              (input)="filterArtisans()"
              name="searchText"
              (focus)="onSearchFocus()"
              (click)="onSearchClick($event)"
              (blur)="onSearchBlur()"
              [placeholder]="isSearchFocused ? '' : 'Rechercher ...'"
            />
          </div>
          <button class="btn btn-outline" type="submit">Rechercher</button>
        </form>

        <!-- Menu déroulant -->
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Spécialité
            </a>
            <ul class="dropdown-menu">
              <li class="list">
                <a class="dropdown-item" routerLink="/building"
                  ><i class="bi bi-arrow-right"></i>Bâtiment</a
                >
              </li>
              <li class="list">
                <a class="dropdown-item" routerLink="/services"
                  ><i class="bi bi-arrow-right"></i>Services</a
                >
              </li>
              <li class="list">
                <a class="dropdown-item" routerLink="/manufacturing"
                  ><i class="bi bi-arrow-right"></i>Fabrication</a
                >
              </li>
              <li class="list">
                <a class="dropdown-item" routerLink="/food"
                  ><i class="bi bi-arrow-right"></i>Alimentation</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Liste des artisans filtrés -->
  <ul
    class="list-group mt-3"
    *ngIf="isSearchFocused && searchText.trim() && filteredData.length > 0"
  >
    <li
      *ngFor="let artisan of filteredData"
      class="list-group-item"
      (click)="selectArtisan(artisan)"
    >
      <strong>{{ artisan.name }}</strong> - {{ artisan.specialty }} ({{
        artisan.location
      }})
    </li>
  </ul>
</header>
