<footer>
  <div class="container-fluid">
    <div class="row">
      <!-- création d'une ligne de 3 colonnes -->
      <article class="container-logo col-12 col-md-4">
        <img
          src="../../assets/pictures/Logo.png"
          alt="Logo de la plateforme Trouve ton artisan représentant un artisan tenant une pancarte"
          class="logo"
        />
      </article>

      <article class="container-link col-12 col-md-4">
        <h5 class="footer-title">Pages légales</h5>
        <ul>
          <li>
            <i class="bi bi-chevron-right"></i>
            <a class="footer-link" routerLink="/legal-notices"
              >Mentions Légales</a
            >
          </li>
          <li>
            <i class="bi bi-chevron-right"></i>
            <a class="footer-link" routerLink="/personal-data"
              >Données Personnelles</a
            >
          </li>
          <li>
            <i class="bi bi-chevron-right"></i>
            <a class="footer-link" routerLink="/accessibility">Accessibilité</a>
          </li>
          <li>
            <i class="bi bi-chevron-right"></i>
            <a class="footer-link" routerLink="/cookies">Cookies</a>
          </li>
        </ul>
      </article>
      <article class="container-contact col-12 col-md-4">
        <h5 class="footer-title-logos">Nous contacter</h5>
        <div>
          <p>Adresse Antenne :</p>
          <address class="address">
            101, cours Charlemagne <br />
            CS 20033 <br />
            69269 LYON CEDEX 02 <br />
            France
          </address>
        </div>
        <div>
          <p>Contact :</p>
          <p class="phone">+33 (0)4 26 73 40 00</p>
        </div>
      </article>
    </div>
  </div>
</footer>
