<div
  class="card"
  [ngClass]="{ 'blue-card': index % 2 === 0, 'white-card': index % 2 !== 0 }"
>
  <div class="card-body">
    <div class="stars">
      <i
        *ngFor="let star of artisan.note | starRating"
        class="bi"
        [ngClass]="{
          'bi-star-fill': star === 'full',
          'bi-star-half': star === 'half',
          'bi-star': star === 'empty'
        }"
      ></i>
    </div>
    <div class="description-craftsman">
      <h3 class="card-name">{{ artisan.name }}</h3>
      <h4 class="card-h4">{{ artisan.specialty }}</h4>
      <h4 class="card-h4">{{ artisan.location }}</h4>
    </div>
  </div>
</div>
