<main>
  <section class="site-operation">
    <div class="main-title">
      <div class="rectangle"></div>
      <h1>Comment trouver mon artisan ?</h1>
    </div>
    <div class="site-section">
      <ol class="list-ordered">
        <li class="list-element">
          <div class="icon d-flex align-items-end">
            <h3>Choisir la catégorie d'artisanat dans le menu</h3>
            <img
              src="../../assets/pictures/picture-category.png"
              alt="icône représentant un groupe de 3 personnes avec une roue dantée en bas à droite"
              class="img-icon"
            />
          </div>
        </li>
        <li class="list-element">
          <div class="icon d-flex align-items-center">
            <h3>Choisir un artisan</h3>
            <img
              src="../../assets/pictures/picture-hammer.png"
              alt="icône représentant un marteau"
              class="img-icon"
            />
          </div>
        </li>
        <li class="list-element">
          <div class="icon d-flex align-items-center">
            <h3>Le contacter via le formulaire de contact</h3>
            <img
              src="../../assets/pictures/picture-form.png"
              alt="icône de couleur rouge représentant un formulaire"
              class="img-icon ms-3"
            />
          </div>
        </li>
        <li class="list-element">
          <div class="icon d-flex align-items-center">
            <h3>Une réponse vous sera apportée sous 48h</h3>
            <img
              src="../../assets/pictures/picture-valid.png"
              alt="icône représentant un rond bleu avec un V blanc pour un valide"
              class="img-icon"
            />
          </div>
        </li>
      </ol>
    </div>
  </section>
</main>
