<main>
  <section class="site-operation">
    <div class="main-title">
      <div class="rectangle"></div>
      <h1>Comment trouver mon artisan ?</h1>
    </div>
    <div class="site-section">
      <ol class="list-ordered">
        <li class="list-element">
          <div class="icon d-flex align-items-end">
            <h3>Choisir la catégorie d'artisanat dans le menu</h3>
            <img
              src="../../assets/pictures/picture-category.png"
              alt="icône représentant un groupe de 3 personnes avec une roue dantée en bas à droite"
              class="img-icon"
            />
          </div>
        </li>
        <li class="list-element">
          <div class="icon d-flex align-items-center">
            <h3>Choisir un artisan</h3>
            <img
              src="../../assets/pictures/picture-hammer.png"
              alt="icône représentant un marteau"
              class="img-icon"
            />
          </div>
        </li>
        <li class="list-element">
          <div class="icon d-flex align-items-center">
            <h3>Le contacter via le formulaire de contact</h3>
            <img
              src="../../assets/pictures/picture-form.png"
              alt="icône de couleur rouge représentant un formulaire"
              class="img-icon ms-3"
            />
          </div>
        </li>
        <li class="list-element">
          <div class="icon d-flex align-items-center">
            <h3>Une réponse vous sera apportée sous 48h</h3>
            <img
              src="../../assets/pictures/picture-valid.png"
              alt="icône représentant un rond bleu avec un V blanc pour un valide"
              class="img-icon"
            />
          </div>
        </li>
      </ol>
    </div>
  </section>
  <section class="top3">
    <div class="title-craftsmen">
      <div class="rectangle"></div>
      <h2>Nos artisans du mois</h2>
    </div>
    <div class="craftsmen-card" *ngIf="data && data.length > 0">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <ng-container *ngIf="!selectedArtisans; else selectedArtisansTemplate">
          <div class="col" *ngFor="let artisan of data">
            <a [routerLink]="['/card', artisan.id]">
              <div class="card-body h-100">
                <div class="stars">
                  <i
                    *ngFor="let star of artisan.note | starRating"
                    class="bi"
                    [ngClass]="{
                      'bi-star-fill': star === 'full',
                      'bi-star-half': star === 'half',
                      'bi-star': star === 'empty'
                    }"
                  ></i>
                </div>
                <div class="description-craftsman">
                  <h3 class="card-name">{{ artisan.name }}</h3>
                  <h4 class="card-h4">{{ artisan.specialty }}</h4>
                  <h4 class="card-h4">{{ artisan.location }}</h4>
                </div>
              </div>
            </a>
          </div>
        </ng-container>
        <ng-template #selectedArtisansTemplate>
          <div class="col" *ngFor="let artisan of data">
            <div class="card-body h-100">
              <div class="stars">
                <i
                  *ngFor="let star of artisan.note | starRating"
                  class="bi"
                  [ngClass]="{
                    'bi-star-fill': star === 'full',
                    'bi-star-half': star === 'half',
                    'bi-star': star === 'empty'
                  }"
                ></i>
              </div>
              <div class="description-craftsman">
                <h3 class="card-name">{{ artisan.name }}</h3>
                <h4 class="card-h4">{{ artisan.specialty }}</h4>
                <h4 class="card-h4">{{ artisan.location }}</h4>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </section>
</main>
